body {
  opacity: 0.3;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  .container-fluid {
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 111;
    .movie-color {
      color: #99d3b4;
    }
  }
}