.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #222222;
  a {
    color: #99d3b4;
  }
}

.header {
  font-family: 'Lobster', cursive;
  background-image: url('/assets/background/fondolentes.jpg');
  background-size: 100%;
  background-position: center;
  height: 30vh;
  display: flex;
  align-items: center;
  color: #99d3b4;
  .title {
    h1 {
      background-color: #222222;
      border-radius: .5em;
      line-height: 50px;
      font-size: 50px;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cards {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 30px;
  background-color: #000000;
  .card {
    margin: 20px 0;
    .card-img-top {
      height: 100%;
    }
    .card-title {
      height: 50px;
      font-weight: 600;
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      .btn {
        background-color: #99d3b4;
        color: #222222;
        font-weight: bold;
      }
    }
  }
}